bin/
obj/
Debug/
FastDebug/
Release/
ReleaseDebug/
Output/
*.suo
ipch/
*.sdf
*.user
*.dat
*.user
*.opensdf
*.txt
*.obj
*.lib
*.log
*.pch
*.pdb
*.tlog
*.VC.db
*.VC.VC.opendb
applicationhost.config
.ps1
*.opendb
*.ib_pdb_index
*.idb
*.ib_tag
*.cache
.vs/*
SkillVisualizer.sln
